{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ],
//    [
//      "env",
//      {
//        "modules": "commonjs"
//      }
//    ],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  },
  "comments": false,
  "compact": false
}
