{
  "presets": [
    //    [
    //      "env",
    //      {
    //        "targets": {
    //          "node": true
    //        }
    //      }
    //    ],
    //    [
    //      "env",
    //      {
    //        "modules": "commonjs"
    //      }
    //    ],
    "env",
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  },
  "plugins": ["react-hot-loader/babel"],
  "comments": false,
  "compact": false
}
