<!doctype html>
<html>
    <head>
        <% manifest.css.forEach(function(file){ %>
        <link rel="stylesheet" href="<%-manifest.publicPath+file%>"/>
        <% }); %>
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <div id="app"><%-html%></div>
        <% if (state) { %>
        <script type="text/javascript">
            window.__INITIAL_STATE__ = <%-state%>;
        </script>
        <% } %>
        <% manifest.js.forEach(function(file){ %>
        <script type="text/javascript" src="<%-manifest.publicPath+file%>"></script>
        <% }); %>
    </body>
</html>
